<page-layout [ready]="data$ | async">
  @if (data) {
    <page-content
      [heading]="i18n.user.title.editProfile"
      [mobileHeading]="i18n.user.mobileTitle.editProfile"
      [headingActions]="headingActions$ | async"
      last>
      <!-- Image -->
      @if (imagesAvailability !== 'disabled') {
        @if (imagesAvailability === 'single') {
          <h2 class="mb-3 border-0 mt-2 mt-md-0">
            {{ i18n.user.title.image }}
          </h2>
          <div class="d-flex justify-content-center justify-content-sm-start">
            @if (images.length > 0) {
              <avatar-lightbox [image]="images[0]" size="huge" [roundBorders]="false"> </avatar-lightbox>
            }
            @if (images.length === 0) {
              <div class="my-3">
                {{ i18n.user.noImage }}
              </div>
            }
          </div>
          <image-upload
            #singleUpload
            containerClass="mt-3"
            target="profile"
            [owner]="param"
            (uploadDone)="onUploadDone($event)"></image-upload>
          @if (canEdit('image') && (singleUpload.uploading$ | async) === false) {
            <actions kind="secondary" class="mt-3" reverseRow>
              <action-button outline (action)="singleUpload.perform()" [label]="i18n.field.image.upload"> </action-button>
              <action-button outline (action)="captureCamera(singleUpload)" [label]="i18n.field.image.camera"> </action-button>
              @if (images.length > 0 && data.imageConfiguration.availability !== 'required') {
                <action-button outline (action)="removeAllImages()" [label]="i18n.field.image.remove"> </action-button>
              }
            </actions>
          }
        }
        @if (imagesAvailability === 'multiple') {
          <h2 class="border-0 d-flex mb-3 flex-column flex-xs-row justify-content-between mt-2 mt-md-0">
            <div class="mb-2 mb-xs-0">
              {{ i18n.user.title.images }}
            </div>
          </h2>
          <div class="row no-gutters">
            @for (image of images; track image) {
              <div class="col-12 col-xs-6 col-sm-4 col-md-3 d-flex justify-content-center justify-content-center">
                <avatar-lightbox
                  [image]="image"
                  size="huge"
                  [roundBorders]="false"
                  [additionalImages]="images"
                  class="mb-1 mb-xs-3">
                </avatar-lightbox>
              </div>
            }
            @if (images.length === 0) {
              <div class="col-12">
                {{ i18n.user.noImages }}
              </div>
            }
          </div>
          @if (canEdit('image')) {
            <actions kind="secondary" class="mt-2" reverseRow>
              @if (canUploadImages && (multiUpload.uploading$ | async) === false) {
                <action-button outline (action)="multiUpload.perform()" [label]="i18n.field.image.upload"> </action-button>
                <action-button outline (action)="captureCamera(multiUpload)" [label]="i18n.field.image.camera"> </action-button>
              }
              @if (images.length > 0) {
                <action-button outline (action)="manageImages()" [label]="i18n.field.image.manage"> </action-button>
              }
            </actions>
          }
          <image-upload
            #multiUpload
            target="profile"
            [owner]="param"
            [max]="data.imageConfiguration.maxImages - images.length"
            (uploadDone)="onUploadDone($event)"></image-upload>
        }
      }

      <!-- Basic profile fields-->
      <h2 class="mt-4 mb-2" [ngClass]="imagesAvailability === 'disabled' ? 'border-0 mt-2 mt-md-0' : null">
        {{ i18n.user.title.fields }}
      </h2>
      <ng-container [formGroup]="user">
        @if (operatorOfManagedUser) {
          <label-value kind="fieldView" [label]="i18n.user.operatorOwner">
            <user-link [user]="data.userConfiguration.details.user"></user-link>
          </label-value>
        }
        @if (hasField('name')) {
          <input-field
            formControlName="name"
            [label]="data.userConfiguration.nameLabel || i18n.user.name"
            [required]="canEdit('name')">
          </input-field>
        }
        @if (hasField('username')) {
          <input-field
            formControlName="username"
            [label]="i18n.user.username"
            [required]="canEdit('username')">
          </input-field>
        }
        @if (hasField('email')) {
          <label-value
            [label]="i18n.user.email"
            [kind]="canEdit('email') ? 'field' : 'fieldView'"
            [forId]="'email'"
            [ignoreExtraCell]="!canManagePrivacy('email')"
            [required]="canEdit('email') && data.userConfiguration.emailRequired">
            <input-field
              formControlName="email"
              [id]="'email'"
              [required]="canEdit('email') && data.userConfiguration.emailRequired">
            </input-field>
            <field-privacy *extraCell field="email" [control]="user.get('hiddenFields')"></field-privacy>
          </label-value>
        }
        @if (hasField('email') && data.userConfiguration.emailPendingValidation) {
          <label-value [label]="i18n.user.emailPending" kind="fieldView">
            {{ data.userConfiguration.emailPendingValidation }}
          </label-value>
        }
      </ng-container>

      <!-- Custom profile fields -->
      @for (cf of fieldsWithoutSection; track cf.internalName) {
        <ng-container [formGroup]="user.get('customValues')">
          @if (canEdit(cf) || !isEmpty(cf)) {
            <label-value
              [label]="cf.name"
              [kind]="canEdit(cf) ? 'field' : 'fieldView'"
              [forId]="cf.internalName"
              [labelPosition]="cf.type === 'boolean' ? 'sideForced' : 'auto'"
              [maximizeLabel]="cf.type === 'boolean'"
              [ignoreExtraCell]="!canManagePrivacy(cf)"
              [required]="canEdit(cf) && cf.required"
              [informationText]="cf.informationText"
              [fieldSize]="fieldSize(cf)">
              @if (canEdit(cf)) {
                <custom-field-input
                  [field]="cf"
                  hideLabel
                  [formControlName]="cf.internalName"
                  [binaryValues]="data.userConfiguration.binaryValues"
                  hideInformationText>
                </custom-field-input>
              } @else {
                <format-field-value [fieldValue]="fieldValue(cf)"> </format-field-value>
              }
              <field-privacy *extraCell [field]="cf.internalName" [control]="user.get('hiddenFields')"></field-privacy>
            </label-value>
          }
        </ng-container>
      }
      @for (key of fieldsWithSection.keys(); track key) {
        <h2>{{ key.name }}</h2>
        @if (key.informationText) {
          <div class="mb-3">
            {{ key.informationText }}
          </div>
        }
        @for (cf of fieldsWithSection.get(key) || []; track cf.internalName) {
          <ng-container [formGroup]="user.get('customValues')">
            @if (canEdit(cf) || !isEmpty(cf)) {
              <label-value
                [label]="cf.name"
                [kind]="canEdit(cf) ? 'field' : 'fieldView'"
                [forId]="cf.internalName"
                [labelPosition]="cf.type === 'boolean' ? 'sideForced' : 'auto'"
                [ignoreExtraCell]="!canManagePrivacy(cf)"
                [required]="cf.required"
                [informationText]="cf.informationText"
                [fieldSize]="fieldSize(cf)">
                @if (canEdit(cf)) {
                  <custom-field-input
                    [field]="cf"
                    hideLabel
                    [formControlName]="cf.internalName"
                    [binaryValues]="data.userConfiguration.binaryValues"
                    hideInformationText>
                  </custom-field-input>
                } @else {
                  <format-field-value [fieldValue]="fieldValue(cf)"> </format-field-value>
                }
                <field-privacy *extraCell [field]="cf.internalName" [control]="user.get('hiddenFields')"></field-privacy>
              </label-value>
            }
          </ng-container>
        }
      }

      <!-- Single mobile phone -->
      @if (singleMobile) {
        <ng-container [formGroup]="singleMobile">
          <h2 class="mb-2">{{ i18n.phone.mobile }}</h2>
          <label-value
            [label]="i18n.phone.mobile"
            [forId]="'mobilePhoneNumber'"
            [required]="data.phoneConfiguration.mobileAvailability === 'required'"
            [ignoreExtraCell]="!canManagePrivacy('phone')"
            kind="field"
            fieldSize="small">
            @if (canEdit('phone')) {
              <input-field
                formControlName="number"
                [id]="'mobilePhoneNumber'"
                [placeholder]="data.phoneConfiguration.mobileExample"></input-field>
            } @else {
              {{ singleMobile.get('number').value }}
            }
            <field-privacy *extraCell [control]="singleMobile.get('hidden')"> </field-privacy>
          </label-value>

          @if (phoneHasSms(singleMobileManage) && byManager) {
            @if (canEdit('phone')) {
              <boolean-field [label]="i18n.phone.verified" [formControl]="singleMobile.get('verified')"> </boolean-field>
            } @else {
              <label-value kind="fieldView" [label]="i18n.phone.verified">
                {{ format.formatBoolean(singleMobile.get('verified').value) }}
              </label-value>
            }
          }

          @if (phoneHasSms(singleMobileManage) && showEnableForSms(singleMobile)) {
            @if (canEdit('phone')) {
              <boolean-field
                [label]="i18n.phone.enabledSms"
                [formControl]="singleMobile.get('enabledForSms')"
                (onClick)="maybeVerify($event)">
              </boolean-field>
            } @else {
              <label-value kind="fieldView" [label]="i18n.phone.enabledSms">
                {{ format.formatBoolean(singleMobile.get('enabledForSms').value) }}
              </label-value>
            }
          }
        </ng-container>
      }

      <!-- Single land-line phone -->
      @if (singleLandLine) {
        <ng-container [formGroup]="singleLandLine">
          <h2 class="mb-2">{{ i18n.phone.landLine }}</h2>
          <label-value
            [label]="i18n.phone.landLine"
            [forId]="'landLinePhoneNumber'"
            [required]="data.phoneConfiguration.landLineAvailability === 'required'"
            [ignoreExtraCell]="!canManagePrivacy('address')"
            kind="field"
            fieldSize="small">
            @if (canEdit('phone')) {
              <input-field
                formControlName="number"
                [id]="'landLinePhoneNumber'"
                [placeholder]="data.phoneConfiguration.landLineExample">
              </input-field>
            } @else {
              {{ singleLandLine.get('number').value }}
            }
            <field-privacy *extraCell [control]="singleLandLine.get('hidden')"> </field-privacy>
          </label-value>
          @if (data.phoneConfiguration.extensionEnabled) {
            @if (singleLandLine.get('extension'); as extensionControl) {
              @if (!extensionControl.disabled || extensionControl.value) {
                <input-field formControlName="extension" fieldSize="tiny" [label]="i18n.phone.extension"></input-field>
              }
            }
          }
        </ng-container>
      }

      <!-- Single address -->
      @if (singleAddress) {
        <h2 class="mb-2">{{ i18n.address.address }}</h2>
        @if (canEdit('address') && data.addressConfiguration.availability !== 'required') {
          <boolean-field [formControl]="defineSingleAddress" [label]="i18n.user.addressDefine"> </boolean-field>
        }
        @if (defineSingleAddress.value) {
          <address-form
            [addressForm]="singleAddress"
            ignoreContactFields
            [configuration]="data.addressConfiguration"
            [managePrivacy]="data.addressConfiguration.managePrivacy"
            [binaryValues]="data.addressBinaryValues?.[data.addresses[0]?.id]">
          </address-form>
        }
      }

      <!-- Multiple phones -->
      @if (landLineAvailability === 'multiple' || mobileAvailability === 'multiple') {
        <h2 class="mt-4 mb-2 d-flex flex-column flex-xs-row justify-content-between">
          <div class="mb-2 mb-xs-0">
            {{ i18n.user.title.phones }}
          </div>

          <!-- When can create both land-line and mobile, use a dropdown -->
          @if (canCreateLandLine && canCreateMobile) {
            <div class="section-title-action" dropdown>
              <button
                dropdownToggle
                type="button"
                class="btn btn-outline-primary dropdown-toggle"
                aria-controls="newPhoneDropDown">
                {{ i18n.user.phoneAdd }}
              </button>
              <div
                #dropDownMenu
                class="dropdown-menu dropdown-menu-right"
                *dropdownMenu
                role="listbox"
                id="newPhoneDropDown">
                <button type="button" class="dropdown-item" (click)="addLandLine()">
                  {{ i18n.user.phoneAddLandLine }}
                </button>
                <button type="button" class="dropdown-item" (click)="addMobile()">
                  {{ i18n.user.phoneAddMobile }}
                </button>
              </div>
            </div>
          }
          <!-- When can create just one of them, use individual buttons -->
          @if (canCreateLandLine && !canCreateMobile) {
            <div class="section-title-action">
              <action-button outline (action)="addLandLine()" [label]="i18n.user.phoneAddLandLine"> </action-button>
            </div>
          }
          @if (!canCreateLandLine && canCreateMobile) {
            <div class="section-title-action">
              <action-button outline (action)="addMobile()" [label]="i18n.user.phoneAddMobile"> </action-button>
            </div>
          }
        </h2>
        @if (phones.length == 0) {
          <div>
            {{ i18n.user.phoneNone }}
          </div>
        }
        @for (phone of phones; track phone['id'] || phone['idSuffix']; let last = $last) {
          <ng-container [formGroup]="phone['form']">
            <input-field
              [id]="'phone_name' + phone['idSuffix']"
              formControlName="name"
              required
              [label]="phoneNameLabel(phone)">
            </input-field>
            <input-field
              type="tel"
              [id]="'phone_number' + phone['idSuffix']"
              formControlName="number"
              required
              [label]="phoneNumberLabel(phone)"
              [placeholder]="phoneExample(phone)"></input-field>
            @if (hasExtension(phone)) {
              @if (phone['form'].get('extension'); as extensionControl) {
                @if (!extensionControl.disabled || extensionControl.value) {
                  <input-field formControlName="extension" fieldSize="tiny" [label]="i18n.phone.extension"></input-field>
                }
              }
            }

            @if (byManager && phoneHasSms(phone)) {
              @if (byManager && canEdit('phone')) {
                <boolean-field [label]="i18n.phone.verified" formControlName="verified"> </boolean-field>
              } @else {
                <label-value kind="fieldView" [label]="i18n.phone.verified">
                  {{ format.formatBoolean(phone.verified) }}
                </label-value>
              }
            }

            @if (phoneHasSms(phone) && showEnableForSms(phone['form'])) {
              @if (canEdit('phone')) {
                <boolean-field
                  [label]="i18n.phone.enabledSms"
                  formControlName="enabledForSms"
                  (onClick)="maybeVerify($event, phone['id'])">
                </boolean-field>
              } @else {
                <label-value kind="fieldView" [label]="i18n.phone.enabledSms">
                  {{ format.formatBoolean(phone.enabledForSms) }}
                </label-value>
              }
            }

            @if (canManagePrivacy('phone')) {
              <label-value labelPosition="sideForced" [label]="i18n.field.privacy.name" kind="field">
                <div class="d-flex w-100 justify-content-between">
                  <field-privacy [control]="phone['form'].get('hidden')" justifyStart></field-privacy>
                  @if (editableFields.has('phone') && (layout.gtxxs$ | async)) {
                    <action-button outline (action)="removePhone(phone)" [label]="i18n.user.phoneRemove"> </action-button>
                  }
                </div>
              </label-value>
            }
            @if ((layout.xxs$ | async) || !data.phoneConfiguration.managePrivacy) {
              <div
                class="d-flex justify-content-end"
                [ngClass]="{
                  'mt-3': !data.phoneConfiguration.managePrivacy
                }">
                @if (editableFields.has('phone')) {
                  <action-button outline (action)="removePhone(phone)" [label]="i18n.user.phoneRemove"> </action-button>
                }
              </div>
            }
            @if (!last) {
              <hr />
            }
          </ng-container>
        }
      }

      <!-- Multiple addresses -->
      @if (addressAvailability === 'multiple') {
        <h2 class="mt-4 mb-2 d-flex flex-column flex-xs-row justify-content-between">
          <div class="mb-2 mb-xs-0">
            {{ i18n.user.title.addresses }}
          </div>
          <div class="section-title-action">
            @if (canCreateAddress) {
              <action-button outline (action)="addAddress()" [label]="i18n.user.addressAdd"> </action-button>
            }
          </div>
        </h2>
        @if (data.addresses.length == 0) {
          <div>
            {{ i18n.user.addressNone }}
          </div>
        }
        @for (address of addresses; track address['id'] || address['idSuffix']; let last = $last) {
          <ng-container [formGroup]="address['form']">
            <input-field
              [id]="'address_name' + address['idSuffix']"
              formControlName="name"
              required
              [label]="i18n.general.name">
            </input-field>
            <address-form
              [addressForm]="address['form']"
              [ignoreContactFields]="addresses.length === 1"
              [configuration]="data.addressConfiguration"
              idPrefix="address_"
              [idSuffix]="address['idSuffix']"
              [managePrivacy]="false"
              [binaryValues]="data.addressBinaryValues?.[address['id']]">
            </address-form>
            @if (canManagePrivacy('address')) {
              <label-value [label]="i18n.field.privacy.name" kind="field" labelPosition="sideForced">
                <div class="d-flex w-100 justify-content-between">
                  <field-privacy [control]="address['form'].get('hidden')" justifyStart></field-privacy>
                  @if (editableFields.has('address') && (layout.gtxxs$ | async)) {
                    <action-button outline (action)="removeAddress(address)" [label]="i18n.user.addressRemove"> </action-button>
                  }
                </div>
              </label-value>
            }
            @if ((layout.xxs$ | async) || !data.addressConfiguration.managePrivacy) {
              <div class="row mt-3 no-gutters">
                @if (layout.gtxs$ | async) {
                  <div class="col-4"></div>
                }
                <div class="col-12 col-sm-8">
                  <actions kind="secondary" class="mt-0" forceRow>
                    @if (editableFields.has('address')) {
                      <action-button outline (action)="removeAddress(address)" [label]="i18n.user.addressRemove"> </action-button>
                    }
                  </actions>
                </div>
              </div>
            }
            @if (!last) {
              <hr />
            }
          </ng-container>
        }
      }

      <!-- Public contacts -->
      <!--
        It would be a strange configuration to have a maximum of 1 public contact.
        Hence we don't handle the case of a single public contact, but always as multiple.
      -->
      @if (contactInfoAvailability !== 'disabled') {
        <h2 class="mt-4 mb-2 d-flex flex-column flex-xs-row justify-content-between">
          <div class="mb-2 mb-xs-0">
            {{ i18n.user.title.contactInfos }}
          </div>
          <div class="section-title-action">
            @if (canCreateContactInfo) {
              <action-button outline (action)="addContactInfo()" [label]="i18n.user.contactInfoAdd"> </action-button>
            }
          </div>
        </h2>
        @if (contactInfos.length == 0) {
          <div>
            {{ i18n.user.contactInfoNone }}
          </div>
        }
        @for (contactInfo of contactInfos; track contactInfo['id'] || contactInfo['idSuffix']; let last = $last) {
          <ng-container [formGroup]="contactInfo['form']">
            <images-field
              formControlName="image"
              target="contactInfo"
              [label]="i18n.general.image"
              separator="@"
              avatarSize="xlarge"
              [initialImages]="data.contactInfoBinaryValues[contactInfo['id']]?.image">
            </images-field>
            <input-field
              [id]="'contact-info_name' + contactInfo['idSuffix']"
              formControlName="name"
              [label]="i18n.general.name"
              required>
            </input-field>
            <input-field
              [id]="'contact-info_email' + contactInfo['idSuffix']"
              formControlName="email"
              [label]="i18n.user.email"></input-field>
            <input-field
              [id]="'contact-info_mobilePhone' + contactInfo['idSuffix']"
              formControlName="mobilePhone"
              [label]="i18n.phone.mobile">
            </input-field>
            <input-field
              [id]="'contact-info_landLinePhone' + contactInfo['idSuffix']"
              formControlName="landLinePhone"
              [label]="i18n.phone.landLine">
            </input-field>
            @if (data.phoneConfiguration.extensionEnabled) {
              <input-field
                [id]="'contact-info_landLineExtension' + contactInfo['idSuffix']"
                formControlName="landLineExtension"
                [label]="i18n.phone.extension">
              </input-field>
            }
            <single-selection-field
              [id]="'contact-info_address' + contactInfo['idSuffix']"
              formControlName="address"
              [label]="i18n.address.address">
              @for (address of data.addresses; track address.id || address.name || $index) {
                @if (address.id) {
                  <field-option [value]="address.id" [text]="address.name"></field-option>
                }
              }
            </single-selection-field>
            @for (cf of data.contactInfoConfiguration.customFields; track cf.internalName) {
              <ng-container [formGroup]="contactInfo['form'].get('customValues')">
                <custom-field-input
                  [field]="cf"
                  [formControlName]="cf.internalName"
                  [binaryValues]="data.contactInfoBinaryValues[contactInfo['id']]">
                </custom-field-input>
              </ng-container>
            }
            @if (canManagePrivacy('contactInfo')) {
              <label-value [label]="i18n.field.privacy.name" kind="field" labelPosition="sideForced">
                <div class="d-flex w-100 justify-content-between">
                  <field-privacy [control]="contactInfo['form'].get('hidden')" justifyStart></field-privacy>
                  @if ((layout.gtxxs$ | async) && data.contactInfoConfiguration.edit) {
                    <action-button
                      outline
                      (action)="removeContactInfo(contactInfo)"
                      [label]="i18n.user.contactInfoRemove">
                    </action-button>
                  }
                </div>
              </label-value>
            }
            @if (
              ((layout.xxs$ | async) || !data.contactInfoConfiguration.managePrivacy) &&
              data.contactInfoConfiguration.edit
            ) {
              <div class="d-flex justify-content-end">
                <action-button outline (action)="removeContactInfo(contactInfo)" [label]="i18n.user.contactInfoRemove"> </action-button>
              </div>
            }

            @if (!last) {
              <hr />
            }
          </ng-container>
        }
      }

      <actions>
        <action-button
          class="btn-main"
          [disabled]="requesting$ | async"
          (action)="saveOrConfirm()"
          [label]="i18n.general.save">
        </action-button>
      </actions>
    </page-content>
  }
</page-layout>
