<page-layout [ready]="data$ | async">
  @if (data) {
    <page-content
      mode="filters"
      [heading]="self ? i18n.user.title.myOperators : i18n.user.title.userOperators"
      [mobileHeading]="self ? i18n.user.mobileTitle.myOperators : i18n.user.mobileTitle.userOperators"
      [headingActions]="headingActions$ | async">
      <div [formGroup]="form" class="filters-form filters-form-separator">
        <div class="row">
          <div class="col-12 col-md-6">
            <input-field formControlName="keywords" [label]="i18n.general.keywords"></input-field>
          </div>
          @if (!self) {
            <div class="col-12 col-md-6">
              <label-value [label]="i18n.general.user" kind="fieldView">
                <user-link [user]="data.user"></user-link>
              </label-value>
            </div>
          }
          @if (data.groups?.length > 1) {
            <div class="col-12 col-md-6">
              <multi-selection-field formControlName="operatorGroups" [label]="i18n.user.groupFilter">
                @for (group of data.groups; track group) {
                  <field-option
                    [value]="ApiHelper.internalNameOrId(group)"
                    [internalName]="group.internalName"
                    [id]="group.id"
                    [text]="group.name">
                  </field-option>
                }
              </multi-selection-field>
            </div>
          }
          @if (layout.gtxxs$ | async) {
            <div class="col-12 col-md-6">
              <multi-selection-field
                formControlName="statuses"
                [label]="i18n.general.status"
                [fieldOptions]="statusOptions">
              </multi-selection-field>
            </div>
            <div class="col-12 col-md-6">
              <date-field formControlName="creationBegin" [label]="i18n.user.creationBegin" fieldSize="full">
              </date-field>
            </div>
            <div class="col-12 col-md-6">
              <date-field formControlName="creationEnd" [label]="i18n.user.creationEnd" fieldSize="full"> </date-field>
            </div>
          }
        </div>
      </div>
    </page-content>
    <users-results
      [results]="results$ | async"
      [rendering$]="rendering$"
      [data]="data$ | async"
      resultType="list"
      [resultKind]="'operator'"
      (update)="update($event)">
    </users-results>
  }
</page-layout>

