<h1>
  {{ self ? i18n.password.title.changeSelf : i18n.password.title.changeUser }}
</h1>

@if (type.description) {
  <div class="mb-3">{{ type.description }}</div>
}

<ng-container [formGroup]="form">
  @if (requireOld) {
    <input-field
      required
      focused
      formControlName="oldPassword"
      type="password"
    [label]="i18n.password.oldPassword"></input-field>
  }
  <input-field required formControlName="newPassword" type="password" [label]="i18n.password.newPassword"></input-field>
  @if (layout.gtxs$ | async) {
    <label-value label=" ">
      <password-hints [passwordType]="type" [control]="form.controls.newPassword"> </password-hints>
    </label-value>
  }
  @if (layout.ltsm$ | async) {
    <password-hints
      [passwordType]="type"
      ngClass="mb-3"
      [control]="form.controls.newPassword">
  </password-hints>
}
<input-field
  required
  formControlName="newPasswordConfirmation"
  type="password"
  [label]="i18n.password.passwordConfirmation">
</input-field>
</ng-container>

<actions forceRow>
  <action-button [disabled]="requesting$ | async" (action)="submit()" [label]="i18n.general.submit"> </action-button>
  <action-button outline (action)="modalRef.hide()" [label]="i18n.general.cancel"> </action-button>
</actions>
