@if (data.status === TotpStatusEnum.ACTIVE) {
  {{ i18n.password.totp.active(data.activationDate | date) }}
} @else {
  @if (data.canActivate) {
    <div
      class="text-left"
      [innerHTML]="
        (layout.ltmd$ | async) ? i18n.password.totp.neverCreatedMessageMobile : i18n.password.totp.neverCreatedMessage
      "></div>
    <div class="mt-3">
      @if ((secretUrl$ | async) == null) {
        @if ((otpResult$ | async) == null) {
          <send-otp-field
            [label]="i18n.password.otp.sendMedium"
            [formControl]="sendOtpControl"
            [data]="data.sendVerificationCodeData">
          </send-otp-field>
        }
        @if ((otpResult$ | async) != null) {
          <input-field
            numbersOnly
            [label]="i18n.password.otp.verificationCode"
            [formControl]="otpControl">
        </input-field>
      }
    } @else {
      @if (layout.gtsm$ | async) {
        <div class="clientSideQrCodeContainer mb-3">
          <canvas #qrCodeCanvas></canvas>
        </div>
      } @else {
        <action-button class="w-100 mb-3" (action)="openAuthenticatorLink()" [label]="i18n.password.totp.openApp">
        </action-button>
      }
      <input-field numbersOnly [label]="i18n.password.totp.firstTotp" [formControl]="totpControl"> </input-field>
    }
  </div>
} @else {
  {{ i18n.password.totp.neverCreatedManagers }}
}
}
@if (data.canActivate || data.canRemove) {
  <actions>
    @if (data.canActivate) {
      @if ((secretUrl$ | async) == null) {
        @if ((otpResult$ | async) == null) {
          <action-button
            (action)="sendVerificationCode()"
            [label]="i18n.password.otp.send">
          </action-button>
        }
        @if ((otpResult$ | async) != null) {
          <action-button (action)="verifyCode()" [label]="i18n.general.submit"> </action-button>
          <action-button (action)="cancelCode()" [label]="i18n.general.cancel"> </action-button>
        }
      }
    }
    @if (secretUrl$ | async) {
      <action-button (action)="activate()" [label]="i18n.general.submit"></action-button>
    }
    @if (data.canRemove) {
      <action-button (action)="remove()" [label]="i18n.password.totp.remove"></action-button>
    }
  </actions>
}
