<page-layout [ready]="data$ | async" [size]="loginConfirmation ? 'medium' : 'full'">
  @if (data) {
    @if (loginConfirmationMessage) {
      <alert class="mt-3" type="warning">{{ loginConfirmationMessage }}</alert>
    }
    @if (showPasswords) {
      <page-content
        [heading]="title"
        [mobileHeading]="mobileTitle"
        [last]="!data?.totpSecret && !data?.dataForSetSecurityAnswer"
        [layout]="loginConfirmation ? 'centered' : 'normal'"
        [headingActions]="headingActions$ | async"
        [ngClass]="{ 'mt-0': loginConfirmation }">
        @if (data.user && !self) {
          <user-info [user]="data.user"></user-info>
          <hr />
        }
        @for (password of data.passwords; track password; let first = $first) {
          @if (!first) {
            <hr class="mt-4" />
          }
          <div class="row no-gutters">
            <div class="col-4 col-md-2">
              @if (layout.gtxxs$ | async) {
                <avatar
                  class="ms-2 me-5 management"
                  [size]="64"
                  iconSize="64px"
                [icon]="SvgIcon.Key"></avatar>
              }
            </div>
            <div class="col-8 col-md-7">
              @if (multiple) {
                <h2 class="border-0 mb-3" [ngClass]="{ 'mt-0': first }">
                  {{ password.type.name }}
                </h2>
              }
              <div>{{ status(password) }}</div>
              @if (password.date) {
                <div class="mt-2">
                  {{ i18n.password.statusSince(password.date | dateTime) }}
                </div>
              }
            </div>
            <div class="col-12 col-md-3 mt-3 mt-md-0">
              @for (action of actions(password); track action; let last = $last) {
                <action-button
                  class="d-block ms-auto"
                  [ngClass]="{ 'mb-3': !last }"
                  (action)="action.onClick()"
                  [label]="action.label">
                </action-button>
              }
            </div>
          </div>
        }
      </page-content>
    }
    @if (data?.totpSecret) {
      <page-content
        hideBack
        [heading]="i18n.password.title.totp"
        [mobileHeading]="i18n.password.mobileTitle.totp"
        last="!(data?.dataForSetSecurityAnswer)"
        [layout]="loginConfirmation ? 'centered' : 'normal'"
        [ngClass]="{ 'mt-0': loginConfirmation && !showPasswords }">
        <manage-totp-secret [data]="data.totpSecret" (totpModified)="reload()"> </manage-totp-secret>
      </page-content>
    }
    @if (data?.dataForSetSecurityAnswer) {
      <page-content
        hideBack
        [heading]="i18n.password.title.securityAnswer"
        [mobileHeading]="i18n.password.mobileTitle.securityAnswer"
        last>
        <alert type="info">{{ i18n.securityQuestion.message }}</alert>
        <ng-container [formGroup]="securityAnswer">
          <single-selection-field formControlName="securityQuestion" required [label]="i18n.securityQuestion.question">
            @for (question of data.dataForSetSecurityAnswer.securityQuestions; track question) {
              <field-option
                [value]="question.internalName"
                [text]="question.name">
              </field-option>
            }
          </single-selection-field>
          <input-field formControlName="securityAnswer" required [label]="i18n.securityQuestion.answer"></input-field>
        </ng-container>
        <actions>
          <action-button (action)="setSecurityAnswer()" [label]="i18n.general.save"> </action-button>
        </actions>
      </page-content>
    }
  }
</page-layout>

