@if (otp) {
  <div class="otp mb-4 d-flex flex-column">
    @for (action of otpActions; track action; let first = $first) {
      <countdown-button
        [ngClass]="{ 'mt-2': !first }"
        (action)="action.onClick()"
        outline
        [disabledKey]="otpCountdownButtonDisabledKey(action.label)"
        [disabledSeconds]="30"
        [icon]="action.icon"
        [label]="action.label"
        [countdownAction]="otpCountdownAction"
        [inputDisabled]="otpButtonsDisabled$ | async">
      </countdown-button>
    }
    @if (virtualKeyboard && otp) {
      <div class="mt-2 otpCountdownLabel">
        @if (!(otpCountdownLabel$ | async)) {
          <br />
        }
        @if (otpCountdownLabel$ | async; as otpCountdownLabel) {
          <span> {{ otpCountdownLabel }} </span>
        }
      </div>
    }
  </div>
}
@if (virtualKeyboard) {
  <div class="virtual-keyboard">
    <div class="virtual-keyboard-display">
      <div class="d-flex flex-grow-1 align-items-center justify-content-center char">
        @for (_ of enteredVKPassword; track _; let first = $first) {
          <div [ngClass]="{ 'ml-2': !first }">&bull;</div>
        }
      </div>
      <button
        type="button"
        class="btn btn-outline-primary"
        [disabled]="enteredVKPassword.length == 0"
        (click)="vkBack()">
        <icon size="18" [icon]="SvgIcon.Backspace"></icon>
      </button>
      <button
        type="button"
        class="btn btn-outline-primary ml-2"
        [disabled]="enteredVKPassword.length == 0"
        (click)="vkClear()">
        <icon size="18" [icon]="SvgIcon.X"></icon>
      </button>
    </div>
    <div class="virtual-keyboard-buttons">
      @for (row of currentVKCombinations; track row) {
        <div class="virtual-keyboard-buttons-row">
          @for (combination of row; track combination) {
            <div
              class="virtual-keyboard-button"
              [ngStyle]="{ width: 100 / row.length + '%' }">
              <action-button
                class="w-100"
                outline
                (action)="vkKey(combination)"
                [disabled]="disabled || enteredVKPassword.length == passwordInput.buttons.length"
                [label]="combination"
                disableSpinner>
              </action-button>
            </div>
          }
        </div>
      }
    </div>
  </div>
} @else {
  <div class="input-group">
    @if (showIcon) {
      <div class="input-group-prepend">
        <span class="input-group-text input-group-icon">
          <icon size="1.3rem" [icon]="SvgIcon.Lock"></icon>
        </span>
      </div>
    }
    <input
      #passwordField
      [type]="visible ? (passwordInput.onlyNumeric ? 'tel' : 'text') : passwordFieldType"
      [attr.maxlength]="passwordInput.maxLength"
      [formControl]="formControl"
      class="form-control"
      [autocomplete]="autocomplete"
      (keypress)="onKeypress($event)"
      (keyup.enter)="enter.emit(null)"
      [placeholder]="placeholder"
      [ngClass]="{
        'is-invalid': (formControl.statusChanges | async) === 'INVALID' && formControl.touched,
        'input-field-secret': !visible && ['text', 'tel'].includes(passwordFieldType)
      }" />
    <div class="input-group-append">
      <span class="input-group-text input-group-icon">
        <icon size="1.3rem" [icon]="visible ? SvgIcon.EyeSlash : SvgIcon.Eye" (click)="toggleVisibility()"> </icon>
      </span>
    </div>
  </div>
  @if (otp) {
    <div class="otpCountdownLabelColor">
      @if (!(otpCountdownLabel$ | async)) {
        <br />
      }
      @if (otpCountdownLabel$ | async; as otpCountdownLabel) {
        <span> {{ otpCountdownLabel }} </span>
      }
    </div>
  }
}
<field-errors [control]="formControl"></field-errors>
