@if (label) {
  <label-value [formField]="self" [informationText]="informationText">
    <ng-container *ngTemplateOutlet="widget"></ng-container>
  </label-value>
} @else {
  @for (category of categories | async; track category; let firstCat = $first) {
    <div
      class="w-100 d-flex"
      [ngClass]="{
        'flex-wrap': !asColumn,
        'align-items-center': !asColumn,
        'flex-column': asColumn,
        'align-items-left': asColumn,
        'mt-3': !firstCat
      }">
      @if (category.name) {
        <div class="me-3 fw-bold" style="line-height: 1rem">{{ category.name }}</div>
      }
      @for (option of category.options | async; track option; let firstOpt = $first) {
        <div
          #check
          class="custom-control form-check custom-radio d-inline-flex me-3 align-items-center"
          (click)="value = option.value; $event.preventDefault(); $event.stopPropagation()"
          (keydown.space)="$event.preventDefault(); $event.stopPropagation()"
          [ngClass]="{ 'mt-1': !firstOpt && asColumn, 'custom-control-disabled': option.disabled }">
          <input
            type="radio"
            [name]="name"
            class="custom-control-input form-check-input"
            [id]="id + '_' + option.value"
            [value]="option.value"
            [disabled]="option.disabled"
            (keyup.enter)="value = option.value; $event.preventDefault(); $event.stopPropagation()"
            [checked]="isSelected(option)" />
          <label class="custom-control-label form-check-label" [for]="id + '_' + option.value">
            {{ option.text }}
          </label>
        </div>
      }
    </div>
  }
  <field-errors [control]="formControl"></field-errors>
}
<ng-template #widget>
  @for (category of categories | async; track category; let firstCat = $first) {
    <div
      class="w-100 d-flex"
      [ngClass]="{
        'flex-wrap': !asColumn,
        'align-items-center': !asColumn,
        'flex-column': asColumn,
        'align-items-left': asColumn,
        'mt-3': !firstCat
      }">
      @if (category.name) {
        <div class="me-3 fw-bold" style="line-height: 1rem">{{ category.name }}</div>
      }
      @for (option of category.options | async; track option; let firstOpt = $first) {
        <div
          #check
          class="custom-control form-check custom-radio d-inline-flex me-3 align-items-center"
          (click)="value = option.value; $event.preventDefault(); $event.stopPropagation()"
          (keydown.space)="$event.preventDefault(); $event.stopPropagation()"
          [ngClass]="{ 'mt-1': !firstOpt && asColumn, 'custom-control-disabled': option.disabled }">
          <input
            type="radio"
            [name]="name"
            class="custom-control-input form-check-input"
            [id]="id + '_' + option.value"
            [value]="option.value"
            [disabled]="option.disabled"
            (keyup.enter)="value = option.value; $event.preventDefault(); $event.stopPropagation()"
            [checked]="isSelected(option)" />
          <label class="custom-control-label form-check-label" [for]="id + '_' + option.value">
            {{ option.text }}
          </label>
        </div>
      }
    </div>
  }
  <field-errors [control]="formControl"></field-errors>
</ng-template>
