<page-layout [ready]="data$ | async">
  @switch (step$ | async) {
    @case ('token') {
      <page-content
        [heading]="i18n.voucher.title.redeem"
        [mobileHeading]="i18n.voucher.mobileTitle.redeem"
        [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'">
        @if (data$ | async) {
          <voucher-transaction-step-token [data]="data" [token]="token" (scan)="toForm()"> </voucher-transaction-step-token>
          <actions>
            <action-button [disabled]="requesting$ | async" (action)="toForm()" [label]="i18n.general.next">
            </action-button>
          </actions>
        } @else {
          <spinner></spinner>
        }
      </page-content>
    }
    @case ('form') {
      <page-content
        [heading]="i18n.voucher.title.redeem"
        [mobileHeading]="i18n.voucher.mobileTitle.redeem"
        [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'">
        @if (dataForTransaction$ | async) {
          @if (!dataForTransaction.shouldPreview) {
            <notification class="mb-3" type="warning">
              {{ i18n.voucher.redeem.confirm }}
            </notification>
          }
          <voucher-transaction-step-form
            [data]="dataForTransaction"
            [form]="form"
            [amountAsField]="dataForTransaction.type.allowPartialRedeems">
          </voucher-transaction-step-form>
          @if (dataForTransaction.pinInput) {
            @if (layout.gtxxs$ | async) {
              <hr />
            }
            <label-value [label]="dataForTransaction.pinInput.name" kind="field" required>
              <password-input
                disableAutocomplete
                [formControl]="form.get('pin')"
                [passwordInput]="dataForTransaction.pinInput">
              </password-input>
            </label-value>
          }
          <actions>
            <action-button
              [disabled]="requesting$ | async"
              (action)="maybePreview()"
              [label]="dataForTransaction.shouldPreview ? i18n.general.next : i18n.general.submit">
            </action-button>
            @if (dataForTransaction.canSendPin && dataForTransaction.pinInput) {
              <action-button
                outline
                (action)="resendPin()"
                [label]="i18n.voucher.sendPinToClient">
              </action-button>
            }
            <action-button outline (action)="backToToken()" [label]="i18n.general.previous"> </action-button>
          </actions>
        } @else {
          <spinner></spinner>
        }
      </page-content>
    }
    @case ('confirm') {
      <page-content
        [heading]="i18n.voucher.title.redeem"
        [mobileHeading]="i18n.voucher.mobileTitle.redeem"
        [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'">
        @if (dataForTransaction$ | async) {
          <notification ngClass="mb-3" type="warning">
            {{ i18n.voucher.redeem.confirm }}
          </notification>
          @if (preview$ | async) {
            <voucher-transaction-step-confirm
              [preview]="preview"
              [transaction]="preview.redeem"
              [data]="dataForTransaction">
            </voucher-transaction-step-confirm>
          }
          @if (preview.pinInput) {
            @if (layout.gtxxs$ | async) {
              <hr />
            }
            <label-value [label]="preview.pinInput.name" kind="field" required>
              <password-input disableAutocomplete [formControl]="pin" [passwordInput]="preview.pinInput"> </password-input>
            </label-value>
          }
          <actions>
            <action-button [disabled]="requesting$ | async" (action)="performFromPreview()" [label]="i18n.general.submit">
            </action-button>
            @if (preview.canSendPin && preview.pinInput) {
              <action-button
                outline
                (action)="resendPin()"
                [label]="i18n.voucher.sendPinToClient">
              </action-button>
            }
            <action-button outline (action)="backToForm()" [label]="i18n.general.previous"> </action-button>
          </actions>
        } @else {
          <spinner></spinner>
        }
      </page-content>
    }
  }
</page-layout>

