<ng-container [formGroup]="form">
  <div class="mt-0 mt-xs-3 mt-sm-0 mb-4 text-start">
    {{ i18n.password.forgotten.preface }}
    <ul>
      @for (pt of principalTypes; track pt) {
        <li>{{ pt.name }}</li>
      }
    </ul>
  </div>

  <input-field
    formControlName="user"
    fieldSize="medium"
    focused
    [label]="i18n.password.forgotten.principal"
  required></input-field>

  @if (data.forgotPasswordMediums?.length > 1) {
    <radio-group-field
      formControlName="sendMedium"
      [label]="i18n.password.forgotten.sendMedium">
    <field-option value="email" [text]="i18n.general.sendMedium.email"> </field-option>
    <field-option value="sms" [text]="i18n.general.sendMedium.sms"> </field-option>
  </radio-group-field>
}

@if (data.forgotPasswordCaptchaInput) {
  <label-value [label]="i18n.password.forgotten.captcha" kind="field">
    <captcha [captchaInput]="data.forgotPasswordCaptchaInput" [form]="form.get('captcha')"></captcha>
  </label-value>
}
</ng-container>
